   /* .bar{
    margin-left: 10px;
    width: 150px;
    height: 30px; 
     width: 100%;
    height: 40%;
    display: flex;
    justify-content: right; 
   text-align: right;
    background-color: red;
 }  */



 /* .searchInput{
    border-radius: 3px 3px 3px 3px;
    background-color:  #ccecda;
    width: 160px;
    height: 30px;   
} */

/* .searchBtn{
    border-radius: 3px 3px 3px 3px;
    background-color: #68d599;
    width: 80px;
    height: 30px;
    font-weight: 700; 
    margin-right: 30px;
} */
