.nav {
   background-color: aquamarine;
   padding: 1em;
   display: flex;
   flex-direction: row;
   justify-content: end;
   margin-bottom: 1em;
   height: 100%;
   width: 100%;
}

.App {
   height:100%;
   background-image:url('https://i0.wp.com/vignette.wikia.nocookie.net/rickandmorty/images/9/98/S2e3_mount_morty_and_summer.png/revision/latest?cb=20160923231412');
   background-repeat: no-repeat;

   background-position: center;
   background-size: 100%;
   background-attachment: fixed;
   overflow: scroll;
}
