.container {
    width: 95%;
    height: 100%;
    color:rgb(13, 3, 40);
    font-size: 17px;
    font-weight:normal;
    text-align: justify;

}


.form {
    width: 250px;
    height: 150px;
    color:rgb(13, 3, 40);
    background-color: aqua;
    font-size: 17px;
    font-weight:normal;
    text-align: center;
    margin-left: 40%;
    margin-top: 15%;
    
    
}

.password {
}

.boton {
}
